.direction {color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:medium;
    background-color:ivory;
    }
.speech {color: black;
        font-family: Times;
        font-size: 11;
        ;
        }
.direction:hover { color:crimson;
        background-color:aquamarine;}
.joel {color:darkslateblue;
    font-family:cursive;
    font-size: 12;
    }
.joel:hover {  text-shadow: 2px 2px;
                color:brown;
                filter: blur(0.2px);
                border-style: dotted;
                border-left: 6px solid red;
            }
.andrew {color:brown;
        font-family:cursive;
        font-size: 12;
        }
.andrew:hover {  text-shadow: 2px 2px;
                color:blueviolet;
                filter: blur(0.2px);
                border-style: dotted;
                border-left: 6px solid red;
            }
tr:nth-child(odd){ 
    background-color:rgb(187, 213, 214);
    color:black;}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:cadetblue;
    color: white;
        }
td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; 
          }
table {
            margin: 10px;
        }
            
