.direction {color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:medium;
    background-color:ivory;
    }
.speech {color: black;
        font-family: Times;
        font-size: 11;
        ;
        }
.direction:hover { color:crimson;
        background-color:aquamarine;}
.joel {color:darkslateblue;
    font-family:cursive;
    font-size: 12;
    }
.andrew {color:brown;
        font-family:cursive;
        font-size: 12;
        }
